body{
    background-color: rgb(0, 0, 0);
    color: #eaeaea;
}
li{
    margin-bottom: 15px;
    padding: 0 10px;
}
.social-links{
    width: 15%;
    padding-left: 1286px;
    border: none;
    padding-top: 10px;
}
.instagram{
    width: auto;
    float: left;
    padding-left: 10px;
    border-radius: 5px;
}
.facebook{
    width: auto;
    float: left;

    margin-left: 174px;
    margin-top: -36px;
}
.youtube{
    width: auto;
    float: left;
    margin-left: 117px;
    margin-top: -36px;
}
.linkedin{
    width: 32px;
    margin-left: 66px;
}
.dp{
    width: 373px;
    height: 373px;
   background-color: black;
   border-radius: 50%;
   overflow: hidden;
   background-color: #eaeaea;
   margin-left: 192px;
   margin-top: 80px;
   border-color: aqua;
   display: inline-block; /* to make the container only take up the necessary space */
   border: 5px solid rgb(245, 76, 76); /* set the border width and color */
   border-radius: 50%; /* to make a circular border, set the border radius to half the width/height */
}
.dp img{
  
    display: block; /* to remove any extra space underneath the image */
    margin: 0 auto; /* to center the image inside the container */
}
.dp-img{
    width: 295px;
    height: 358px;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 10px;
    border-color: aqua;
}
.nametext{
    width: 400px;
    font-family: 'Press Start 2P', cursive;
    color: #eaeaea;
    margin-left: 753px;
    margin-top: -253px;
    font-size: 51px;

}
.name-sub{
    width: 300px;
    margin-top: -22px;
    margin-left: 752px;
}
.name-sub-text{
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 26px;
}
.insta{
    border-radius: 8px;
}
.projects{
    margin-top: 55px;
    margin-left: 10px;
    margin-right: 10px;
    height: 250px;
    border-radius: 50px;
    overflow: hidden;
    border-color: aliceblue;
    width: 500px;
    border: 3px solid rgb(243, 46, 46);
    margin-bottom: 10px;
    display: block; /* to remove any extra space underneath the image */
    margin-bottom: 100px;
    
    
}
.edu{
    font-family: ;
    font-size: 27px;
    padding-left: 15px;
    font-family: 'Bungee Hairline', cursive;
    margin-left: 23px;
    margin-top: 19px;
}
.line{
   margin-top: 285px;
   background-color: aqua;
   color: aqua;
}
.linehr{
    background-color: aqua;
    color: aqua;
}
.items{
    margin-left: 10px;
    margin-top: -17px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 17px;

}
.education{
    margin-top: -42px;
    margin-left: 10px;
    margin-right: 10px;
    height: 250px;
    border-radius: 50px;
    overflow: hidden;
    border-color: aliceblue;
    width: 500px;
    border: 3px solid rgb(243, 46, 46);
    margin-bottom: 10px;
    display: block; /* to remove any extra space underneath the image */
    margin-bottom: 100px;
}
.photos{
    margin-left: 715px;
    margin-top: -690px;
    margin-right: 10px;
    border-radius: 10px;
}
.pic1{
    width: 300px;
    height: 580px;
    border-radius: 10px;
    border: 3px solid rgb(235, 76, 76);
}
.pic2{
    width: 380px;
    height: 580px;
    border-radius: 10px;
    margin-left: 10px;
    border: 3px solid rgb(235, 76, 76);  
}
.educationtext{
    font-size: 27px;
    padding-left: 15px;
    font-family: 'Bungee Hairline', cursive;
    margin-left: 23px;
    margin-top: 19px;
}
.edu-sub{
    width: 217px;
    margin-left: 42px;
    margin-top: -24px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 17px;
}
.schoolimg{
    width: 190px;
    height: 100px;
    margin-left: 294px;
    margin-top: -198px;
    margin-bottom: 40px;
}
.programme{
    margin-top: 42px;
    margin-left: 10px;
    margin-right: 10px;
    height: 130px;
    border-radius: 50px;
    overflow: hidden;
    border-color: aliceblue;
    width: 1475px;
    border: 3px solid rgb(243, 46, 46);
    margin-bottom: 10px;
    display: block; /* to remove any extra space underneath the image */
    margin-bottom: 100px;
}
.listp{
    width: 1475px;
    height: 130px;
    display: flex; /* set the display to flex */
  flex-wrap: nowrap; /* prevent items from wrapping */
  list-style: none; /* remove default bullet points */
  padding: 0; /* remove default padding */
  margin: 0; /* remove default margin */
  margin-top: -25px;
  margin-left: -20px;
 
}
.l1{
    padding-left: 70px;
    padding-top: 13px;
    font-family: 'Rajdhani', sans-serif;
 
}
.l2{
    padding-left:351px;
    padding-top: 13px;
    font-family: 'Rajdhani', sans-serif;
    
}
.l3{
    padding-left: 351px;
    padding-top: 13px;
    font-family: 'Rajdhani', sans-serif;

}
.l4{
    padding-left: 351px;
    padding-top: 13px;
    font-family: 'Rajdhani', sans-serif;

}
.tittle{
    margin-top: -4px;
    margin-left: 40px;
    font-family: 'Bungee Hairline', cursive;
    font-size: 27px;
}
.form{
    height: 585px;
    background-color: rgb(206, 39, 45);
    border-radius: 30px;
    margin: 10px;
    margin-left: 260px;
    margin-right: 260px;
    
}
.contactme{
    font-family: 'Bungee Hairline', cursive;
    padding-left: 345px;
    font-size: 50PX;
}
.namet{
    padding-left: 240px;
    padding-top: 0px;
    margin-top: -50px;
    font-family: 'Rajdhani', sans-serif;
}
.email1{
    padding-left: 240px;
    padding-top: 10px;
    margin-top: 30px;
    font-family: 'Rajdhani', sans-serif;
}
.msg{
    padding-top: 10px;
    padding-left: 240px;
    margin-top: 22px;
    font-family: 'Rajdhani', sans-serif;
}



.name1{
    width: 520px;
    height: 43px;
    border: 2px solid white;
    border-radius: 10px;
    margin-left: 230px;
    padding-left: 10px;
}
.email{
    width: 520px;
    height: 43px;
    border: 2px solid white;
    border-radius: 10px;
    margin-left: 230px;
    padding-left: 10px;
}
.query{
    width: 520px;
    height: 43px;
    border: 2px solid white;
    border-radius: 10px;
    margin-left: 230px;
    padding-left: 10px;
}
.submit{
    width: 530px;
    height: 43px;
    background-color: rgba(190, 216, 239, 0.897);
    border: 2px solid rgb(225, 225, 230);
    border-radius: 10px;
    margin-left: 230px;
    margin-top: 44px;
}
.footer{
    margin-left: 340px;
    margin-top: 100px;
    font-family: 'Rajdhani', sans-serif;
}